<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paula Medical</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheet/index.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Heebo&family=Lato&family=Lora:wght@700&family=Montserrat:wght@100&family=Roboto+Mono&display=swap"
        rel="stylesheet">




</head>


<%- include('../partials/nav') %>

    <body>
        <header>
            <div class="banner-container">
                <img src="images/pmstbanner1.png" alt="">

            </div>
        </header>
        <div class="card-content">
            <header class="jumbotron">
                <div class="text-center mt-3 mb-2">
                    <h1>Paula Medical Updates</h1>
                    <% if(currentUser){ %>
                        <p>
                            <a class="btn btn-primary btn-large" href="/articles/new">Add new
                                article</a>
                        </p>
                        <% } %>
                </div>
            </header>
            <%- include('../partials/flash') %>



                <div class="row d-flex justify-content-center text-center card-main">
                    <% var counter=0; %>
                        <% articles.docs.slice().reverse().forEach(function(article){ %>
                            <% if (counter <=5){ %>
                                <div class="card mb-3 ms-4 card-container">
                                    <div style="height: 300px;width: 100%;">
                                        <img class="image-fluid h-100 w-100" src="<%= article.images[0].url %>"
                                            style="object-fit:cover;">
                                    </div>
                                    <div class="card-title mt-4">
                                        <h4>
                                            <%= article.title %>
                                        </h4>
                                    </div>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Published: <%= article.createdAt.toLocaleDateString()%>
                                        </small>
                                    </p>
                                    <small class="card-text mb-2">
                                        <%= article.subDescription %>....
                                    </small>
                                    <p>
                                        <a href="/articles/<%=article._id%>" class="btn btn-primary">More
                                            Info</a>
                                    </p>


                                </div>

                                <% counter++ %>
                                    <% } %>
                                        <% }); %>
                </div>


                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% if (articles.hasPrevPage) { %>
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page=<%= articles.prevPage %>&pageSize=<%= articles.limit %>">&laquo;</a>
                            </li>
                            <% } %>
                                <% for (let i=1; i <=articles.totalPages; i++) { %>
                                    <li class="page-item <%= i === articles.page ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>&pageSize=<%= articles.limit %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% if (articles.hasNextPage) { %>
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="?page=<%= articles.nextPage %>&pageSize=<%= articles.limit %>">&raquo;</a>
                                            </li>
                                            <% } %>
                    </ul>
                </nav>

        </div>





        <%- include('../partials/footer') %>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </body>


</html>